---
import headerImg from "../../assets/img/portada.png";
---

<header
  class="relative h-screen bg-cover bg-center"
  style={{ backgroundImage: `url(${headerImg.src})` }}
>
  <div class="absolute inset-0 bg-black/30"></div>
  <main
    class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4"
  >
    <h1 class="text-4xl md:text-6xl font-bold text-white mb-6">
      Tricología y Medicina Capilar
    </h1>
    <p class="text-lg md:text-2xl text-white mb-8 max-w-2xl">
      Dra. Ma. Carolina Sansó de la Madrid
    </p>
    <a
      href="/contact"
      class="px-6 py-3 bg-[#0097B2] hover:bg-[#0D3857] text-white font-semibold rounded-3xl transition"
    >
      Contactar
    </a>
  </main>
</header>
