<section
  class="px-6 py-16 flex flex-col md:flex-row items-center gap-12 max-w-7xl mx-auto"
>
  <!-- Left Image -->
  <div class="w-full md:w-1/2">
    <img
      src="/photo-drCarolina.jpg"
      alt="Our Mission"
      class="w-full h-[300px] md:h-[350px] object-cover rounded-xl shadow-md"
    />
  </div>

  <!-- Right Text -->
  <div
    class="w-full md:w-1/2 flex flex-col items-center md:items-start text-center md:text-left"
  >
    <h2
      class="text-[#0B2545] text-2xl md:text-3xl font-extrabold uppercase tracking-[4px] mb-4"
    >
      Dra.Carolina Sansó
      <br />de la Madrid
    </h2>

    <p class="text-gray-600 text-base md:text-lg leading-7 mb-6">
      Médica tricóloga formada en Argentina- España , apasionada por el cuidado
      capilar y el bienestar integral. Mi vocación nace de entender que el
      cabello y la piel no solo reflejan nuestra imagen externa, sino también lo
      que sucede dentro de nuestro cuerpo y nuestras emociones. Creo en la
      importancia de un enfoque personalizado, donde cada persona es única y
      cada tratamiento responde a su historia, su salud y su estilo de vida.

      <br /><br />
      Para mí, la tricología es mucho más que estética: es prevención, acompañamiento
      y salud. Acompaño a mis pacientes en el camino hacia un cabello más sano, fuerte
      y equilibrado, promoviendo hábitos conscientes y un cuidado capilar basado en
      el respeto por el cuerpo y sus procesos.
    </p>

    <a
      href="/about"
      class="px-6 py-3 bg-[#0097B2] hover:bg-[#0D3857] text-white font-semibold rounded-3xl transition"
    >
      Contactar
    </a>
  </div>
</section>
